{% extends 'base.html.twig' %}

{% block title %}{{ 'room'|trans({}, 'document-title')|format(room.name) }}{% endblock %}

{% block body %}
<div class="container body-container">
    <div class="row">
        <div class="col">
            <h1>{{ room.name }}</h1>
            <img src="{{ asset('photos/') }}" alt="Qui sommes-nous ?">

            {{ room.description|raw }}
        </div>
    </div>
</div>
{% endblock %}
