{% extends 'base.html.twig' %}

{% block title %}{{ 'prestations'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row">
            <div class="col">
{#                <h1>Tables d'hôtes</h1>
                <p>Pour nos accueillis, nous proposons la table d’hôte le soir, <strong>sur réservation, et suivant nos
                        possibilités</strong>, au tarif de 19€ le repas/personne.</p>
                <p><strong>Exemple de menu : </strong></p>
                <ul>
                    <li><em>1 kir Breton</em></li>
                    <li><em>1 Galette complète</em></li>
                    <li><em>1 Galette au choix (forestière, légumes de saison...)</em></li>
                    <li><em>1 Crêpe sucrée (au choix, caramel beurre salé, confiture, sucre...)</em></li>
                    <li><em>Boisson : cidre</em></li>
                </ul>
                <p>Nous proposons : </p>
                <ul>
                    <li>soit repas de galettes, crêpes</li>
                    <li>soit menu végétarien et plantes sauvages</li>
                </ul>
                <h1>Location de vélos</h1>
                <p>Nous disposons de quelques vélos. Location à la journée (1.50 €) ou à la semaine (5€).</p>#}
                <h1>Matériel pour enfant et bébé</h1>
                <p>Nous pouvons mettre à votre disposition gratuitement, lit parapluie, chaise haute. Nous prévenir à
                    l'avance</p>
                <h1>Location de draps, linge de toilette</h1>
                <p>Prix à la semaine : 10 €/lit - pour le gîte</p>
                <h1>Forfait ménage</h1>
                <p>Prix à la semaine : 30 €</p>
            </div>
        </div>
    </div>
{% endblock %}
