{% extends 'base.html.twig' %}

{% block title %}{{ 'contact'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row">
            <div class="col">
                <h1>Nos coordonnées</h1>
                <p>Vous désirez prendre contact avec nous, avoir des renseignements complémentaires, voici nos
                    coordonnées :</p>
                <p>
                    Marie-Renée et Jean-Luc Rupin<br>
                    La Mettrie<br>
                    35680 Bais<br>
                </p>
                <p>Vous pouvez utiliser le formulaire en bas de page pour nous contacter par mail ou nous écrire
                    directement à <a href=mailto:"mariereneerupin@gmail.com">mariereneerupin@gmail.com</a></p>
                <h1>Localisation</h1>
                <p>Nous nous trouvons au Sud-Est de Rennes (35 km), entre Vitré (14 km) et La Guerche de Bretagne (12 km).</p>
                <p>Notre gite se situe à 1km500 du bourg de Bais, sur la route de Torcé.</p>
            </div>
        </div>
    </div>
{% endblock %}
