{% extends 'base.html.twig' %}

{% block title %}{{ 'lodging'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
<div class="container body-container">
    <div class="row">
        <div class="col">
            <h1>room-title</h1>
            <img src="{{ asset('photos/') }}" alt="Qui sommes-nous ?">

        </div>
    </div>
</div>
{% endblock %}
