{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <p>
                {{ 'copyright'|trans({}, 'footer')}}
            </p>
        </div>
    </footer>

{% endblock %}