{% block footer %}
    <!-- Footer -->
    <hr>
    <footer>
        <div class="container">
            <p class="text-center small">
                {{ 'copyright'|trans({}, 'footer')|raw }}
            </p>
        </div>
    </footer>

{% endblock %}