{% block footer %}
    <!-- Footer -->
    <hr>
    <footer id="footer" class="footer mt-auto">
        <div class="container">
            <p class="text-center small">
                {{ 'copyright'|trans({}, 'footer')|raw }}
            </p>
        </div>
    </footer>

{% endblock %}