{% block footer %}
    <!-- Footer -->
    <hr>
    <footer>
        <div class="container">
            <p class="text-center">
                {{ 'copyright'|trans({}, 'footer')}}
            </p>
        </div>
    </footer>

{% endblock %}