{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="header">
            <columns>
                <a href="{{ url('homepage') }}">
                    <img src="{{ email.image('@images/email/logo_abh.jpg') }}" class="logo" alt="Aux Bonnes Herbes Logo">
                </a>
            </columns>
        </row>

        {% block content%}{% endblock %}

        <row class="footer">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        {{ 'footer.send-to'|trans({'%name%':email.toName, '%email%': emailTo}, 'email') }}
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
